<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <!--navbar--------------------------->
    <nav class="navbar navbar-expand-md navbar-dark"id="nav" style="background-color:#282e34;">

        <a class="navbar-brand ml-3" href="#" style="font-size:24px;">E-Mart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav hov">
            <li class="nav-item active">
              <a class="nav-link ml-3" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
          <!--  <li class="nav-item">
              <a class="nav-link ml-3" href="#">Features</a>
            </li>-->
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link ml-3" href="{% url 'eapp:create_product' %}">Add Product</a>
            </li>
                          <li class="nav-item">
                            <a class="nav-link ml-3" href="{% url 'eapp:category' %}">Create Category</a>
                          </li>
            {% endif %}

                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ml-3" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {% if not user.is_authenticated %}
                              Login|SignUp
                              {% else %}
                              Log out
                              {%  endif%}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if  user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'eapp:logout'%}">Log out</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'eapp:login'%}">Log in</a>
                          <a class="dropdown-item" href="{% url 'eapp:signup'%}">Sign Up</a>

                        {% endif %}

                            </div>
                          </li>

                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ml-3" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Shop by category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if not category_list %}
            <a class="dropdown-item" href="{% url 'home'%}">Please go to home page for category(click me)</a>
            {% endif %}
                              <ol>
                              {% for cat in category_list %}
                               <li>
                                <a class="dropdown-item" href="{{cat.id}}">{{cat.product_category}}</a>
                                 </li>
                              {% endfor %}
                            </ol>
                            </div>
                          </li>

          </ul>        </div>

    </nav>
    <!---end of navbar--------->
    <div class="pimg1">
      <div class="ptext">
        <span class="border">Summer sale</span>

      </div>
    </div>
    <section class="section section-light">
      <h2>Amazing Deals</h2>
      <p>Wanna garb amazing offers,Mega deal is on your favourite products shown below,Availableat more than 50% discount,on finest products.Go to shop by category in navigation bar to reach your favourite products</p>

    </section>
    <div class="pimg2">
      <div class="ptext">
        <span class="border trans">Women collection</span>
      </div>
    </div>
    <section class="section section-dark">
      <h2>Latest Women's fashion</h2>
      <p>Amazing collection of brand new clothes.Available at Low price</p>
      <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 18rem; ">
          <img src="{% static 'images/women-1.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:#282e34">Danium jacket</h5>
            <p class="card-text">Discount price:1299</p>
            <a href="8/24/" class="btn btn-primary">visit</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/watches-1.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 style="color:black;"class="card-title">Women Wrist watch</h5>
            <p class="card-text">Discount price:1499.00</p>
            <a href="7/11/" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <span class="border trans">Men collection</span>
      </div>
    </div>
    <section class="section section-dark">
      <h2>Latest Collections</h2>
      <h5>Latest collection of brand new watches.Available at Low price.</h5>
      <hr>
      <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/watches-3.jpeg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color:#282e34">Quartz'Rock watch</h5>
            <p class="card-text">Discount price:799</p>
            <a href="7/5/" class="btn btn-primary">visit</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/ear-phone.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 style="color:black;"class="card-title">Wireless ear-phone</h5>
            <p class="card-text">Discount price:2999.00</p>
            <a href="5/21" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </section>
    <div class="pimg1">
      <div class="ptext">
        <span style="color:grey;"class="border trans">grab upto 30% off</span>

      </div>
    </div>
      </div>
    <!--footer-->
    <footer>
<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
        <h3>Rachit</h3>
        <p>Thank you for visiting this website, this website designing took enourmes amount time and effort ,if you like it please spend few minute to give a feed back.</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
        <h2>USEFUL LINKS</h2>
        <ul>
          <li>
            <a href="#">Event</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Suggest a feature</a>
          </li>
          <li>
            <a href="{% url 'eapp:feedback' %}">Feed Back</a>
          </li>
          <li>
            <a href="#">Report a bug</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
        <h2>Follow Us</h2>
        <p>Follow us on social media app to get update about upcoming events.</p>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa fa-pinterest"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
        <h2>Our Newsletter</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       <form  method="post">
         <input type="email" name="email" placeholder="email">
         <input type="submit" class="btn btn-outline-info"name="submit" value="submit">
       </form>
      </div>
    </div>
  </div>
</div>

<p class="footer-bottom-text">All Right Reserved by &copy: E-Mart.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
